/****************************/
/* HEADER */
/****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.omnifood-logo {
  height: 2.4rem;
}
/****************************/
/* NAVGATION*/
/****************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-link:link,
.main-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.main-link:active,
.main-link:hover {
  color: #b8651b;
}
.main-link.another-nav:link,
.main-link.another-nav:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 170px;
  color: #fff;
  background-color: #e67e22;
}
.main-link.another-nav:active,
.main-link.another-nav:hover {
  background-color: #e98b38;
}
/****************************/
/* Featured In SECTION */
/****************************/
.featured-section {
  padding: 4.8rem 3.2rem 0;
}
.heading-featured {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4.8rem;
  color: #888;
}
.five-logos {
  display: flex;
  justify-content: space-around;
}
.five-logos img {
  height: 3.2rem;
  filter: brightness(0);
  -webkit-filter: brightness(0);
  opacity: 50%;
}
/****************************/
/* HERO SECTION */
/****************************/
.hero-section {
  background-color: #fae5d3;
  /* padding: 9.6rem 4.8rem; */
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-describtion {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6.4rem;
}
.customers-imgs {
  display: flex;
}
.customers-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fae5d3;
}
.customers-imgs img:last-child {
  margin: 0;
}
.customers-description {
  font-size: 1.7rem;
  font-weight: 500;
}
.customers-description span {
  color: #b8651b;
  font-weight: 600;
}
.hero-img {
  width: 100%;
}
/****************************/
/*SECTION HOW */
/****************************/
.section-how {
  padding: 9.6rem 0;
}
.step-number {
  font-size: 9.8rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 1.9rem;
  line-height: 1.7;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
}
/****************************/
/* MEALS SECTION */
/****************************/
.meals-section {
  padding: 9.6rem 0;
}
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.meal:hover {
  transform: translateY(-2rem);
  -webkit-transform: translateY(-2rem);
  -moz-transform: translateY(-2rem);
  -ms-transform: translateY(-2rem);
  -o-transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.09);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem;
}
.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.5rem;
}
.tag {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 170px;
  -webkit-border-radius: 170px;
  -moz-border-radius: 170px;
  -ms-border-radius: 170px;
  -o-border-radius: 170px;
}
.tag-Vegetarian {
  background-color: #51cf66;
}
.tag-vegan {
  background-color: #94d82d;
}
.tag-paleo {
  background-color: #ffd43b;
}
.meal-title {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 3.2rem;
}
.meal-infos {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-info {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
.meal-img {
  width: 100%;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/****************************/
/* TESTIMONIALS SECTION */
/****************************/
.testimonials-section {
  display: grid;
  grid-template-columns: 50fr 50fr;
  background-color: #fae5d3;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-continer {
  padding: 6.4rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonal-name {
  font-size: 1.6rem;
  color: #676161;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.gallery-item img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/****************************/
/* PRICEING SECTION */
/****************************/
.price-section {
  padding: 9.6rem 0;
}

.plan-name {
}
.plan-price {
}
.plane-text {
}
