/*
-----> 01-TYPOGRAPHY

- FONT WEIGHTS:
- Default: 400
- Medium: 500
- Semi-bold: 600
- Bold: 700

- LINE HEIGHT:
-Default: 1
-small: 1.03
-paragraph default: 1.5

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 

/ 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

-----> 02-COLORS

- Primary:#e67e22
- Tints:#fae5d3
- Shades:#b8651b
- Accents:
- Greys: 
#555
#333


-----> 05-SHADOWS

-----> 06-BORDER RADIUS

-Default: 170px

-----> 07- WHITE SPACE

- SPACING SYSTEM   (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 

/ 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 
  -Default --> 1rem=16px
  -but in this case 1 rem equile 10px 
  beacause
  --> 1rem = 10px
    -->10px/16px =0.625 =62.5%
  */

  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/****************************/
/* GENRAL RESUABLE COMPONENTS */
/****************************/
.hero-primary {
  font-size: 5.2rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.03;
  color: #333;
  margin-bottom: 3.2rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 170px;
  -webkit-border-radius: 170px;
  -moz-border-radius: 170px;
  -ms-border-radius: 170px;
  -o-border-radius: 170px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn--start:link,
.btn--start:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--start:hover,
.btn--start:active {
  background-color: #e98b38;
}
.btn--learn:link,
.btn--learn:visited {
  background-color: #fff;
  color: #333;
}
.btn--learn:hover,
.btn--learn:active {
  background-color: #e6e6e6;
  color: #333;
  /* border: 2px solid #fff; -->(to be inside should make box shadow inset)  */
  box-shadow: inset 0 0 0 2px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}
/****************************/
/* HEADER */
/****************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fae5d3;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.omnifood-logo {
  height: 2.4rem;
}
/****************************/
/* NAVGATION*/
/****************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.main-link:link,
.main-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.main-link:active,
.main-link:hover {
  color: #b8651b;
}
.main-link.another-nav:link,
.main-link.another-nav:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 170px;
  color: #fff;
  background-color: #e67e22;
}
.main-link.another-nav:active,
.main-link.another-nav:hover {
  background-color: #e98b38;
}

/****************************/
/* HERO SECTION */
/****************************/
.hero-section {
  background-color: #fae5d3;
  padding: 9.6rem 4.8rem;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-describtion {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 6.4rem;
}
.customers-imgs {
  display: flex;
}
.customers-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fae5d3;
}
.customers-imgs img:last-child {
  margin: 0;
}
.customers-description {
  font-size: 1.7rem;
  font-weight: 500;
}
.customers-description span {
  color: #b8651b;
  font-weight: 600;
}
.hero-img {
  width: 100%;
}
